<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1><mark>USER REGISTRATION PAGE</mark></h1>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter Name" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="mobile" name="mobile" placeholder="mobile" required><br>
        <input type="submit" value="submit">
    </form>
</body>
<a href="{% url 'home' %}">
    <b>SHOW DATA</b>
</a>
</html>